body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#FlexContainer1
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#FlexContainer2
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_indexImage1
{
   margin: 0;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#indexImage1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 150px;
   height: auto;
}
#Label2
{
   margin: 0;
   border: 0px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label2:focus
{
   outline: 0;
}
#Select1
{
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0 0 0 4px;
   text-align: left;
   padding: 0;
   box-sizing: border-box;
}
#Select1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Label1
{
   margin: 0;
   border: 0px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Label4
{
   margin: 0;
   border: 0px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label4:focus
{
   outline: 0;
}
#Editbox2
{
   line-height: 21px;
   margin: -3px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
   padding: 0;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: -3px 0 0 0 ;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Editbox1
{
   line-height: 21px;
   margin: -3px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox3
{
   line-height: 23px;
   margin: -5px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Select2
{
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: -1px 0 0 -7px;
   text-align: left;
   padding: 0;
   box-sizing: border-box;
}
#Select2:focus
{
   border-color: #FFFFFF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,255,255,0.60);
   outline: 0;
}
#Editbox6
{
   line-height: 18px;
   margin: 1px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox6:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Select4
{
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: -13px 0 0 -5px;
   text-align: left;
   padding: 0;
   box-sizing: border-box;
}
#Select4:focus
{
   border-color: #FFFFFF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,255,255,0.60);
   outline: 0;
}
#Editbox5
{
   line-height: 18px;
   margin: 1px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox5:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Editbox8
{
   line-height: 20px;
   margin: -1px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox8:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 5px 0 0 0 ;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Editbox7
{
   line-height: 18px;
   margin: 1px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox7:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox10
{
   line-height: 19px;
   margin: -1px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox10:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox9
{
   line-height: 18px;
   margin: 5px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox9:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Editbox12
{
   line-height: 18px;
   margin: 2px 0 0 0 ;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 0;
}
#Editbox12:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_FlexContainer3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: absolute;
}
#FlexContainer3
{
   display: flex;
   height: 92px;
   padding: 3px 3px 3px 3px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 945px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#TextArea1
{
   box-sizing: border-box;
   border: 1px solid transparent;
   border-radius: 1px;
   background-color: transparent;
   background-image: none;
   color: #00FF7F;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   text-align: justify;
   margin: 0;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea2
{
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
   margin: -5px 0 0 -5px;
   overflow: auto;
   resize: none;
}
#TextArea2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
.ToolTip1.ui-widget.ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   max-width: 250px;
   text-align: left;
}
.ToolTip2.ui-widget.ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   max-width: 250px;
   text-align: left;
}
.ToolTip3.ui-widget.ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   max-width: 250px;
   text-align: left;
}
.ToolTip4.ui-widget.ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   max-width: 250px;
   text-align: left;
}
.ToolTip5.ui-widget.ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   max-width: 250px;
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#indexEditbox1
{
   line-height: 18px;
   margin: 0;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: center;
   padding: 8px 4px 4px 4px;
}
#indexEditbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea1
{
   display: block;
   width: 952px;
   height: 86px;
   z-index: 1;
}
#Editbox5
{
   position: absolute;
   left: 237px;
   top: 297px;
   width: 81px;
   height: 18px;
   z-index: 17;
}
#Editbox6
{
   position: absolute;
   left: 237px;
   top: 243px;
   width: 731px;
   height: 18px;
   z-index: 15;
}
#Editbox7
{
   position: absolute;
   left: 237px;
   top: 350px;
   width: 721px;
   height: 18px;
   z-index: 21;
}
#TextArea2
{
   position: absolute;
   left: 240px;
   top: 163px;
   width: 715px;
   height: 24px;
   z-index: 29;
}
#wb_Text4
{
   position: absolute;
   left: 276px;
   top: 111px;
   width: 165px;
   height: 18px;
   z-index: 11;
}
#indexEditbox1
{
   position: absolute;
   left: 15px;
   top: 722px;
   width: 165px;
   height: 18px;
   z-index: 38;
}
#Editbox12
{
   position: absolute;
   left: 237px;
   top: 431px;
   width: 611px;
   height: 18px;
   z-index: 25;
}
#wb_Text5
{
   position: absolute;
   left: 229px;
   top: 433px;
   width: 12px;
   height: 18px;
   z-index: 24;
}
#Editbox1
{
   position: absolute;
   left: 237px;
   top: 137px;
   width: 731px;
   height: 21px;
   z-index: 12;
}
#indexHtml2
{
   position: absolute;
   left: 17px;
   top: 630px;
   width: 199px;
   height: 109px;
   z-index: 37;
}
#wb_Text6
{
   position: absolute;
   left: 330px;
   top: 400px;
   width: 139px;
   height: 18px;
   z-index: 20;
}
#Editbox2
{
   position: absolute;
   left: 237px;
   top: 110px;
   width: 36px;
   height: 21px;
   z-index: 10;
}
#wb_Text7
{
   position: absolute;
   left: 229px;
   top: 456px;
   width: 12px;
   height: 18px;
   z-index: 27;
}
#Editbox10
{
   position: absolute;
   left: 237px;
   top: 406px;
   width: 81px;
   height: 19px;
   z-index: 22;
}
#Editbox3
{
   position: absolute;
   left: 237px;
   top: 192px;
   width: 731px;
   height: 23px;
   z-index: 13;
}
#wb_Text1
{
   position: absolute;
   left: 229px;
   top: 104px;
   width: 3px;
   height: 324px;
   z-index: 8;
}
#wb_Text2
{
   position: absolute;
   left: 10px;
   top: 104px;
   width: 183px;
   height: 324px;
   z-index: 6;
}
#wb_indexImage1
{
   display: block;
   width: 150px;
   z-index: 0;
}
#wb_Text10
{
   position: absolute;
   left: 540px;
   top: 600px;
   width: 220px;
   height: 143px;
   z-index: 36;
}
#wb_Text3
{
   position: absolute;
   left: 330px;
   top: 296px;
   width: 139px;
   height: 18px;
   z-index: 18;
}
#Select4
{
   position: absolute;
   left: 241px;
   top: 275px;
   width: 195px;
   height: 34px;
   z-index: 16;
}
#Editbox8
{
   position: absolute;
   left: 237px;
   top: 326px;
   width: 721px;
   height: 20px;
   z-index: 19;
}
#Editbox9
{
   position: absolute;
   left: 237px;
   top: 374px;
   width: 721px;
   height: 18px;
   z-index: 23;
}
#Select2
{
   position: absolute;
   left: 241px;
   top: 217px;
   width: 147px;
   height: 19px;
   z-index: 14;
}
#wb_FlexContainer3
{
   left: 0px;
   top: 474px;
   width: 956px;
   height: 92px;
   z-index: 28;
}
#Label4
{
   position: absolute;
   left: 237px;
   top: 90px;
   width: 725px;
   height: 376px;
   line-height: 376px;
   z-index: 9;
}
#Select1
{
   position: absolute;
   left: 0px;
   top: 428px;
   width: 220px;
   height: 28px;
   z-index: 5;
}
#wb_Text8
{
   position: absolute;
   left: 10px;
   top: 456px;
   width: 156px;
   height: 18px;
   z-index: 26;
}
#Label2
{
   position: absolute;
   left: 0px;
   top: 91px;
   width: 216px;
   height: 375px;
   line-height: 375px;
   z-index: 4;
}
#wb_Text9
{
   position: absolute;
   left: 10px;
   top: 600px;
   width: 194px;
   height: 143px;
   z-index: 35;
}
#Label1
{
   position: absolute;
   left: 224px;
   top: 91px;
   width: 0px;
   height: 375px;
   line-height: 375px;
   z-index: 7;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#FlexContainer1
{
   visibility: visible;
   display: flex;
}
#FlexContainer2
{
   visibility: visible;
   display: flex;
}
#wb_indexImage1
{
   width: 150px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   padding: 0;
}
#Label2
{
   left: 0px;
   top: 91px;
   width: 224px;
   height: 383px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   text-align: left;
   color: transparent;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
}
#Label2
{
   line-height: 383px;
}
#Select1
{
   left: 0px;
   top: 428px;
   width: 224px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   background-color: #FF0000;
   background-image: none;
   background-image: none;
   border: 1px solid #FF0000;
}
#wb_Text2
{
   left: 10px;
   top: 104px;
   width: 231px;
   height: 324px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Label1
{
   left: 224px;
   top: 91px;
   width: 0px;
   height: 375px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label1
{
   line-height: 375px;
}
#wb_Text1
{
   left: 229px;
   top: 104px;
   width: 17px;
   height: 321px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 4px;
}
#wb_Text1
{
   margin: 3px 0 0 0 ;
   padding: 0;
}
#Label4
{
   left: 232px;
   top: 90px;
   width: 730px;
   height: 376px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label4
{
   line-height: 376px;
}
#Editbox2
{
   left: 237px;
   top: 110px;
   width: 38px;
   height: 23px;
   visibility: visible;
   display: inline;
   margin: -3px 0 0 0 ;
   padding: 0;
   text-align: left;
}
#Editbox2
{
   line-height: 23px;
}
#wb_Text4
{
   left: 276px;
   top: 111px;
   width: 161px;
   height: 15px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 4px;
}
#wb_Text4
{
   margin: 0 0 0 4px;
   padding: 0;
}
#Editbox1
{
   left: 237px;
   top: 137px;
   width: 733px;
   height: 23px;
   visibility: visible;
   display: inline;
   margin: -3px 0 0 0 ;
   padding: 0;
   text-align: left;
}
#Editbox1
{
   line-height: 23px;
}
#Editbox3
{
   left: 237px;
   top: 192px;
   width: 733px;
   height: 16px;
   visibility: visible;
   display: inline;
   margin: 4px 0 0 0 ;
   padding: 0;
   text-align: left;
}
#Editbox3
{
   line-height: 16px;
}
#Select2
{
   left: 241px;
   top: 217px;
   width: 140px;
   height: 14px;
   visibility: visible;
   display: inline;
   margin: 4px 0 0 0 ;
   padding: 0;
   border: 1px solid transparent;
}
#Editbox6
{
   left: 237px;
   top: 243px;
   width: 733px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 1px 0 0 0 ;
   padding: 0;
   text-align: left;
}
#Editbox6
{
   line-height: 20px;
}
#Select4
{
   left: 241px;
   top: 275px;
   width: 190px;
   height: 17px;
   visibility: visible;
   display: inline;
   margin: 4px 0 0 0 ;
   padding: 0;
   border: 1px solid transparent;
}
#Editbox5
{
   left: 237px;
   top: 297px;
   width: 83px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 1px 0 0 0 ;
   padding: 0;
   text-align: left;
}
#Editbox5
{
   line-height: 20px;
}
#wb_Text3
{
   left: 330px;
   top: 296px;
   width: 146px;
   height: 18px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 4px;
}
#wb_Text3
{
   margin: 0 0 0 -7px;
   padding: 0;
}
#Editbox8
{
   left: 237px;
   top: 326px;
   width: 723px;
   height: 21px;
   visibility: visible;
   display: inline;
   margin: -1px 0 0 0 ;
   padding: 0;
   text-align: left;
}
#Editbox8
{
   line-height: 21px;
}
#wb_Text6
{
   left: 330px;
   top: 400px;
   width: 139px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 4px;
}
#wb_Text6
{
   margin: 3px 0 0 0 ;
   padding: 0;
}
#Editbox7
{
   left: 237px;
   top: 350px;
   width: 723px;
   height: 12px;
   visibility: visible;
   display: inline;
   margin: 9px 0 0 0 ;
   padding: 0;
   text-align: left;
}
#Editbox7
{
   line-height: 12px;
}
#Editbox10
{
   left: 237px;
   top: 406px;
   width: 88px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0 0 0 -5px;
   padding: 0;
   text-align: left;
   border: 1px solid transparent;
}
#Editbox10
{
   line-height: 20px;
}
#Editbox9
{
   left: 237px;
   top: 374px;
   width: 723px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   text-align: left;
   color: transparent;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
}
#Editbox9
{
   line-height: 25px;
}
#wb_Text5
{
   left: 229px;
   top: 433px;
   width: 12px;
   height: 16px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 4px;
}
#wb_Text5
{
   margin: 2px 0 0 0 ;
   padding: 0;
}
#Editbox12
{
   left: 237px;
   top: 431px;
   width: 613px;
   height: 22px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   text-align: left;
   color: transparent;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
}
#Editbox12
{
   line-height: 22px;
}
#wb_Text8
{
   left: 10px;
   top: 456px;
   width: 156px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 229px;
   top: 456px;
   width: 12px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_FlexContainer3
{
   visibility: visible;
   display: block;
}
#TextArea1
{
   width: 952px;
   height: 86px;
   visibility: visible;
   display: inline;
   margin: 0;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   padding: 0;
   text-align: justify;
   color: #212529;
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#TextArea2
{
   left: 240px;
   top: 163px;
   width: 717px;
   height: 26px;
   visibility: visible;
   display: inline;
   margin: -5px 0 0 -5px;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#ToolTip1
{
   left: 15px;
   top: 36px;
   width: 75px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#ToolTip2
{
   left: 361px;
   top: 34px;
   width: 90px;
   height: 17px;
   visibility: visible;
   display: inline;
}
#ToolTip3
{
   left: 583px;
   top: 21px;
   width: 31px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#ToolTip4
{
   left: 128px;
   top: 30px;
   width: 86px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#ToolTip5
{
   left: 278px;
   top: 34px;
   width: 62px;
   height: 17px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   left: 10px;
   top: 600px;
   width: 194px;
   height: 143px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   left: 540px;
   top: 600px;
   width: 220px;
   height: 143px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#indexHtml2
{
   left: 17px;
   top: 630px;
   width: 199px;
   height: 109px;
   visibility: visible;
   display: inline;
}
#indexEditbox1
{
   left: 15px;
   top: 722px;
   width: 167px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 8px 4px 4px 4px;
   text-align: center;
}
#indexEditbox1
{
   line-height: 20px;
}
}
